.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  min-height: 1000px;
  padding-top: 50px;
  margin-top: 50px;
  padding-top: 50px;
}

.main_container {
  background-color: #c2d3e9a8;
  display: flex;
  justify-content: space-between;
}

.filter {
  box-sizing: border-box;
  background-color: #cfcfcf98;
  width: 20%;
  height: 400px;
  margin-top: 50px;
  padding: 20px;
  margin-left: 20px;
  border-radius: 25px;
}
.paginationBttns {
  width: 80%;
  height: 10%;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 5% auto;
}

.paginationBttns a {
  padding: 10%;
  margin: 10% 8px;
  border-radius: 5px;
  border: 1.5px solid rgba(0, 145, 212, 0.904);
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.paginationBttns a:hover {
  color: white;
  background-color: rgba(0, 145, 212, 0.904);
}

.paginationActive a {
  color: white;
  background-color: rgba(0, 145, 212, 0.904);
}
